/* Minimal styles for demo */
body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  margin: 0;
  padding: 1rem;
}


:root {
  --button-main: #f44336;
  --button-hover: #b23c17;
}

.buttonColors.MuiButton-contained {
  background-color: var(--button-main);
}

.buttonColors.MuiButton-contained:hover {
  background-color: var(--button-hover);
}